<?xml version="1.0" encoding="UTF-8"?>
<gokana>
<menu nama="Gokana Teppan">
	<kategori nama="Main Course" id="1">	
		<item nama="Chicken Yakiniku">			
			<harga>20.000</harga>
		</item>	
		<item nama="Chicken Teriyaki">			
			<harga>20.000</harga>
		</item>
		<item nama="Chicken Katsu">			
			<harga>21.818</harga>
		</item>	
		<item nama="Gokana Chicken Steak">			
			<harga>23.636</harga>
		</item>	
		<item nama="Chicken Teppan">			
			<harga>24.545</harga>
		</item>
		<item nama="Beef Yakiniku">			
			<harga>21.818</harga>
		</item>	
		<item nama="Beef Teppan">			
			<harga>25.455</harga>
		</item>	
		<item nama="Beef Teriyaki">			
			<harga>21.818</harga>
		</item>
		<item nama="Marumi">			
			<harga>20.000</harga>
		</item>	
		<item nama="Egg Roll">			
			<harga>20.000</harga>
		</item>	
		<item nama="Spicy Chicken">			
			<harga>20.000</harga>
		</item>
		<item nama="Ebi Maki">			
			<harga>21.818</harga>
		</item>	
		<item nama="Fry Combo A">			
			<harga>20.000</harga>
		</item>	
		<item nama="Fry Combo B">			
			<harga>20.000</harga>
		</item>	
		<item nama="Fry Mix">			
			<harga>15.455</harga>
		</item>
		<item nama="Hanenakami">			
			<harga>14.545</harga>
		</item>
		<item nama="Rice">			
			<harga>5.455</harga>
		</item>									
	</kategori>
	<kategori nama="Ramen" id="2">
		<subkategori nama="Ramen Mania">
			<item nama="Katsu Hot Ramen">			
				<harga>30.000</harga>
			</item>
			<item nama="Beef Hot Ramen">			
				<harga>28.182</harga>
			</item>			
		</subkategori>
		<subkategori nama="Miso Ramen">
			<item nama="Ebimaki Miso Ramen">			
				<harga>30.000</harga>
			</item>
			<item nama="Tempura Miso Ramen">			
				<harga>30.000</harga>
			</item>			
		</subkategori>
		<subkategori nama="Soyu Ramen">
			<item nama="Chicken Soyu Ramen">			
				<harga>26.364</harga>
			</item>
			<item nama="Tempura Soyu Ramen">			
				<harga>36.364</harga>
			</item>			
		</subkategori>									
	</kategori>
	<kategori nama="Yakimeshi" id="4">	
		<item nama="Yakimeshi Tempura">			
			<harga>24.545</harga>
		</item>	
		<item nama="Yakimeshi Ebi Maki">			
			<harga>23.636</harga>
		</item>
		<item nama="Yakimeshi Marumi">			
			<harga>21.818</harga>
		</item>										
	</kategori>
	<kategori nama="Drinks" id="5">	
		<item nama="Fresh Orange">			
			<harga>13.636</harga>
		</item>	
		<item nama="Fresh Strawberry Juice">			
			<harga>14.545</harga>
		</item>
		<item nama="Fresh Melon Juice">			
			<harga>13.636</harga>
		</item>										
	</kategori>	
</menu>
</gokana>
