/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
.login { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}

.last { margin-bottom:0; }

body {
	min-height: 2500px;
}
.content {
	border: 1px solid #666;
}
dl { padding: 20px; position: relative; }
dl:nth-child(odd) {
	background-color: #ddd;
}
dd { 
	margin-top: 20px;
	margin-bottom: 20px;
}
li { list-style-type: none; }
.tombol-next { 
	position: absolute;
	bottom: 40px;
	right: 40px;
}
li label { margin-right: 10px; }

