@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

