body {
	width: 600px;
	margin: 0 auto;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}

.loader { 
	display: none; 
	position: absolute;
}

.details { 
	width: 100%;
	height: 100%; 
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1; 
	background: black; 
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.details > .content { 
	width: 50%; 
	min-height: 50%; 
	max-height: 65%; 
	position: relative; 
	top: 25%; 
	margin: 0 auto; 
	padding: 20px; 
	background: white; 
	z-index: 2; 
	overflow: auto; 
}

.details > .content > .close { 
	position: absolute; 
	top: 10px; 
	right: 10px; 
	cursor: pointer; 
	z-index: 3; 
}