body { 
	background: url("../images/body-bg.png");
}

h1 { text-align: center; }

h2 { color: white; }

.container {
	width: 600px;
	margin: 0 auto;
}

.content {
	margin: 0 auto;
}

.menu {
	background-color: #bd6157;
	width: 100%;
	padding: 5px 15px;
	float: left;
	margin: 0 auto;
}

.menu table {
	width: 100%;
}

.harga {
	text-align: right;
}